body {
  background-color: rgb(0,0,0) !important;
  color: white !important;
}

#headerNav {
  position: fixed;
  width: 100%;
  top: 0px;
}

#headerNav #navLeft {
  float: left;
  margin-left: 42px;
}

#headerNav #navRight {
  float: right;
  margin-right: 4px;
}

#grid, #gridView, #chartView {
  overflow-x: scroll;
}

.emojiIcon {
  font-size: 90px;
}

.grid {
  margin: 0px;
  padding: 0px;
  border: 1px solid #000000;
  border-collapse: collapse;
  /*white-space: nowrap;*/
  table-layout: fixed;
}

.grid tr:hover td {
  background-color: #FEAE42;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FEAE42), color-stop(1, #FEE17A) );
  background: -moz-linear-gradient( center top, #FEAE42 5%, #FEE17A 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FEAE42", endColorstr="#FEE17A");
  color: #000000;
}

.grid tr {
  border-bottom: 1px solid #66A7FF;
  background-color: #E3EFFF;
}

.grid td {
  vertical-align: middle;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  white-space: nowrap;
}

.grid th {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FEAE42), color-stop(1, #FEE17A) );
  background: -moz-linear-gradient( center top, #FEAE42 5%, #FEE17A 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FEAE42", endColorstr="#FEE17A");
  background-color: #FEAE42;
  border: 1px solid #000000;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  padding: 0px 3px;
  white-space: nowrap;
}

.grid .ui-btn {
  margin: 0;
}


.bubbleTd {
  background-clip: padding-box;
  border-radius: 5px;
  background-color: #00000033;
  border: 1px solid black;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 0px 3px 0px 3px;
}

#edit {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E3EFFF), color-stop(1, #BFDBFF) );
  background: -moz-linear-gradient( center top, #E3EFFF 5%, #BFDBFF 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#E3EFFF", endColorstr="#BFDBFF");
  background-color: #E3EFFF;
  border: 1px solid black;
  width: 300px;
  padding: 5px;
  z-index: 1;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
}

#edit table {
  width: 100%;
  font-weight: bold;
}

#menubutton {
  padding: 2px;
  margin-top: 0px;
}

.menuButtons td {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-style: italic;
}

.menuButtons img {
  cursor: pointer;
}

.menuButtons {
  margin-left: auto;
  margin-right: auto;
}

select {
  width: 100%;
  height: 28px;
  font-weight: bold;
}

input {
  width: calc(100% - 4px);
  height: 21px;
  font-weight: bold;
}

input:invalid {
  border: 1px solid rgb(230, 88, 53);
}

.ui-controlgroup {
  text-align: center;
}

.ui-input-text {
  margin: 0 !important;
}

.ui-select .ui-btn {
  padding: .4em 0.3em !important;
  text-align: left !important;
}

.ui-select {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ui-panel {
  min-height: 0 !important;
  top: 44px !important;
}

.ui-content {
  padding: 0 !important;
}

.ui-footer {
  display: none;
}

.ui-page {
  background-color: transparent;
}

#bgimg {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Application map*/
#appMap {
  padding: 4px;
  padding-bottom: 0px;
}

#appMap table {
  width: 100%;
  border: 1px solid black;
  border-spacing: 0px;
  margin-bottom: 4px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}

#appMap table td {
  padding: 0px;
  vertical-align: top;
}

#appMap h2{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
  color: white;
  text-shadow: 2px 2px 2px black;
  margin: 0px;
  padding: 2px;
  border-bottom: 1px solid black;
  text-align: left;
}

#appMap table tr:last-child td:first-child {
  width: 128px;
  padding: 2px;
}

#appMap ul {
  list-style-type: none;
  margin: 0;
  padding: 1px;
}

#appMap li {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  font-size: 18px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}
 
#appMap li:last-child {
  border-bottom: 1px solid black;
}

#appMap li a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  display: block;
  padding: 2px;
}
 
#appMap li a:hover {
  background: #f6f6f6;
}
/* End Application map*/